.memberPage {
	height: 100%;
	margin-top: 9em;
	font-size: 14px;
}

.memberPage .card-wrapper {
	width: 450px;
}

.memberPage .card {
	border-color: transparent;
}

.memberPage .card.fat {
	padding: 2em 4em;
}

.memberPage .form-control {
	border-width: 2.3px;
}

.memberPage .form-group {
	margin: 0.8em auto;
}

.memberPage .form-group label {
	font-weight: 900;
	width: 100%;
}

#optional {
	display: none;
}

@media screen and (max-width: 425px) {
	.memberPage .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.memberPage .card.fat {
		padding: 0;
	}

	.memberPage .card.fat .card-body {
		padding: 15px;
	}
}
